body {
  background: $background-color;
  font-family: $font-base;
  color: $secondary-color;
}
.homeHeader {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 37px auto 0;
}
.topMenu {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 17px;
}
.topMenu__nav,
.mainMenu__nav {
  display: flex;
}
.topMenu__nav--item {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: $light-color;
}
.mainMenu {
  font-size: 18px;
  font-weight: 300;
  color: $dark-color;
}
.mainMenu__nav--item {
  margin-left: 55px;
  list-style: none;
}
.hero {
  height: 400px;
  background: white;
}
.threeColumns {
  @extend .hero;
  background: $focus-color;
}
.info {
  @extend .hero;
  background: white;
}
.about {
  @extend .hero;
  background: gainsboro;
}
.help {
  @extend .hero;
  background: goldenrod;
}
.contact {
  @extend .hero;
  background: whitesmoke;
}
.footer {
  @extend .hero;
  background: gainsboro;
}
