input {
  font-family: $font-base;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $light-color;
  font-size: 18px;
  line-height: 24px;
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100%;
}
textarea {
  width: 528px;
  height: 97px;
  font-size: 18px;
  line-height: 24px;
  font-family: $font-base;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $light-color;
}
label {
  font-size: 16px;
  height: 42px;
  display: block;
  margin-top: 20px;
}
.error__info {
  color: orangered;
}
